<div class="main-box staticpages">
     <div class="headline"><div>{msg code="$msgcode"}</div></div>
     <div class="box-content-with-menu">
         <div class="box-content">
             <h2>{msg code="$msgcode.text"}</h2>
             <br/>
             <div class="form-box">
                 <a class="button" href="{Url::base()}" title="{msg code="error-pages.error.homebutton"}"><span>{msg code="error-pages.error.homebutton"}</span></a>
             </div>
             <div class="clear"></div>
         </div>
         <div class="clear"></div>
     </div>
 </div>