<div id="lostpassword-overlay" class="overlay">
    <div>
        <div class="close icon-icon_close_white"></div>
        <div>
            <div>
                <h3>{msg code="login.lostpassword"}</h3>
                <form action="{Url::get('action:lostpassword')}" method="post" name="login">
                    <div>
                        <div>
                            <label for="email">{msg code="login.enter_email"}</label>
                            <input type="email" name="email" id="email" class="{if $errors.email}error{/if}" title="{msg code='title.enter_email'}" value="{$values.email}" />
                            {if $errors.email}<span class="error">{$errors.email}</span>{/if}
                        </div>
                        <button type="submit" class="button" title="{msg code="login.send.password"}"><span>{msg code="login.send.password"}</span></button>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</div>