<div id="submitted-overlay" class="overlay">
    <div>
        <div class="close icon-icon_close_white"></div>
        <div>
            <div>
                <div>
                    <p>{msg code="article.submitted.sucessfully"}</p>
                    <button class="closeoverlay button" title="{msg code="article.submitted.button"}"><span>{msg code="article.submitted.button"}</span></button>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>