.DS_Store

application/logs/*
.sass-cache/*
application/cache/smarty/compile/*
!application/cache/smarty/compile/.gitkeep
application/cache/smarty/cache/*
!application/cache/smarty/cache/.gitkeep
application/data/files/*.*
!application/data/files/.gitkeep
application/data/files/api_temp/*.*
!application/data/files/api_temp/.gitkeep
application/data/files/api_temp/video/*.*
!application/data/files/api_temp/video/.gitkeep


public/files/*.*
public/media/*.*
public/media/preview/*
public/merged/*
!.gitignore
.idea/*
.idea
.project
testarticle.json
git.sh
