html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.ui-widget-header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(50%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#dddddd, #cccccc, #aaaaaa);
  background-image: -moz-linear-gradient(#dddddd, #cccccc, #aaaaaa);
  background-image: -o-linear-gradient(#dddddd, #cccccc, #aaaaaa);
  background-image: linear-gradient(#dddddd, #cccccc, #aaaaaa);
}

.fav {
  position: relative;
}

#backend-search input {
  width: 114px;
}

#searchicon {
  background: url("../img/icons/icon_search.png") no-repeat 0 5px;
  /*padding-left:24px;*/
  float: left;
  height: 24px;
  width: 24px;
}

.backend h2 span.small-links {
  float: right;
  color: #666;
  font-weight: normal;
  font-size: 12px !important;
}
.backend h2 span.small-links a {
  font-size: 12px !important;
}

#wrapper #content .main-box .box-content-with-menu .box-content .row label {
  font-size: 14px !important;
}

#wrapper #content .main-box .box-content-with-menu .box-content {
  overflow: visible !important;
}

body table {
  width: 100%;
  table-layout: fixed;
}
body table td {
  word-break: break-word;
  word-wrap: break-word;
}
body .right-checkboxes {
  float: right;
  width: 48%;
  font-size: 13px;
  padding: 5px 0;
}
body .right-checkboxes a {
  font-size: 13px;
}
body #wrapper #content .main-box {
  padding-top: 30px;
}
body #wrapper #content .main-box .box-foot {
  background: none;
}
body #wrapper #content .main-box .box-content-with-menu {
  background: none;
  border-left: none;
}
body #wrapper #content .main-box .box-content-with-menu .side-menu {
  width: 156px;
  background: none;
  border: none;
}
body #wrapper #content .main-box .box-content-with-menu .side-menu ul form {
  color: #666666;
  font-size: 15px;
  height: 28px;
  padding: 10px 5px;
  text-decoration: none;
  text-shadow: 2px 1px 0 #DCE0E1;
  white-space: nowrap;
}
body #wrapper #content .main-box .box-content-with-menu .side-menu > ul {
  margin-top: 0;
}
body #wrapper #content .main-box .box-content-with-menu .side-menu > ul li {
  background: none;
  margin-bottom: 1px;
}
body #wrapper #content .main-box .box-content-with-menu .side-menu > ul li a {
  padding: 10px 5px;
  color: #000;
}
body #wrapper #content .main-box .box-content-with-menu .side-menu > ul li a:hover, body #wrapper #content .main-box .box-content-with-menu .side-menu > ul li a.active {
  background-color: #8db6ca;
  color: #fff;
}
body #wrapper #content .main-box .box-content-with-menu .box-content {
  width: 767px;
  border: 1px solid #999999;
  box-shadow: none;
  padding-left: 18px;
  padding-right: 17px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .stat-box {
  padding: 5px 10px 5px 25px;
  border: 1px solid #999;
  margin-bottom: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .stat-box.stat-study {
  background: url("../img/icons/icons_grey_small.png") no-repeat 5px 6px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .stat-box.stat-method {
  background: url("../img/icons/icons_grey_small.png") no-repeat 5px -40px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .stat-box.stat-instrument {
  background: url("../img/icons/icons_grey_small.png") no-repeat 5px -86px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .stat-box.stat-qa {
  background: url("../img/icons/icons_grey_small.png") no-repeat 5px -132px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .stat-box.stat-expert {
  background: url("../img/icons/icons_grey_small.png") no-repeat 5px -224px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .stat-box.stat-news {
  background: url("../img/icons/icons_grey_small.png") no-repeat 5px -178px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .stat-box.stat-event {
  background: url("../img/icons/icons_grey_small.png") no-repeat 5px -270px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .backend-form {
  padding: 0 20px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .backend-form input[type=text],
body #wrapper #content .main-box .box-content-with-menu .box-content .backend-form input[type=password],
body #wrapper #content .main-box .box-content-with-menu .box-content .backend-form input[type=select] {
  width: 354px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .buttons {
  margin-top: 10px;
}
body #wrapper #content .main-box .box-content-with-menu .box-content .buttons .button {
  float: right;
}
body #searchresults .result-segment {
  margin-bottom: 20px;
}
body #wrapper .dataTables_wrapper {
  margin-top: 20px;
}
body #wrapper .dataTables_wrapper .new-value {
  float: right;
}
body #wrapper .dataTables_wrapper .new-value input {
  width: 20px;
}
body #wrapper .dataTables_wrapper table .hidden-for-ordering {
  display: none;
}
body #wrapper .dataTables_wrapper table a {
  font-size: 13px;
  word-break: break-all;
}
body #wrapper .dataTables_wrapper table tfoot {
  background: none repeat scroll 0 0 #DDDDDD;
  border-top: 1px solid #999999;
}
body #wrapper .dataTables_wrapper table td {
  padding: 5px;
}
body #wrapper .dataTables_wrapper input {
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline;
  font-size: 14px;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
}
body #wrapper .dataTables_wrapper select {
  border: none;
  border-radius: 0;
  box-shadow: none;
  float: none;
  height: auto;
  overflow: auto;
  padding: 0;
  resize: none;
  width: auto;
}

#wrapper #content .main-box .box-content-with-menu .box-content .row {
  margin-bottom: 6px;
  padding: 0 !important;
}
#wrapper #content .main-box .box-content-with-menu .box-content .row.textarea > label {
  width: auto;
  float: none;
}
#wrapper #content .main-box .box-content-with-menu .box-content .row > input[type="text"], #wrapper #content .main-box .box-content-with-menu .box-content .row input[type="email"], #wrapper #content .main-box .box-content-with-menu .box-content .row input[type="password"], #wrapper #content .main-box .box-content-with-menu .box-content .row input[type="url"], #wrapper #content .main-box .box-content-with-menu .box-content .row input[type="file"] {
  width: 45% !important;
  font-size: 13px !important;
  height: 16px !important;
}
#wrapper #content .main-box .box-content-with-menu .box-content .row > input[type="file"] {
  height: auto !important;
  padding: 3px;
}
#wrapper #content .main-box .box-content-with-menu .box-content .row > textarea {
  width: 331px !important;
  margin-right: 2px;
  font-size: 13px !important;
  min-height: 100px;
  float: right;
  border: 0;
  resize: none;
  font-size: 11px;
  width: 537px;
  padding: 5px 12px 5px 9px;
  overflow: auto;
  border: 1px solid #7F7F7F;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 1px 1px 0px #fff, 1px 1px 0 #D4D4D4 inset;
}
#wrapper #content .main-box .box-content-with-menu .box-content .row > select {
  width: 364px !important;
  font-size: 13px !important;
}
#wrapper #content .main-box .box-content-with-menu .box-content .row > label {
  width: 49%;
  text-align: right;
  padding-top: 6px;
}
#wrapper #content .main-box .box-content-with-menu .box-content .row label {
  font-size: 13px !important;
}

.float_right_img {
  clear: none;
  float: none;
  display: inline-block;
  margin-left: 16px;
}

.childoption .title {
  padding-left: 20px !important;
}
.childoption .title a {
  font-size: 12px !important;
}

a.fav {
  position: relative;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  /* IE < 8 */
}

body.backend h3.ui-accordion-header {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 4px 28px;
  font-size: 13px;
}

button.button {
  padding-top: 2px;
  line-height: 25px;
}

.accordion {
  padding: 0 !important;
}

h2 {
  margin: 20px 0 0;
  padding: 0 !important;
}

.ui-accordion .ui-accordion-content {
  padding: 10px !important;
}

.connectedSortable {
  float: left;
  width: 40%;
  overflow: auto;
  height: 200px;
  background-color: #ccc;
  border: 1px solid #6e6e6e;
  margin-right: 20px;
}
.connectedSortable li {
  cursor: hand;
}
.connectedSortable .ui-icon {
  float: left;
}

#wrapper #head div .top-logo {
  top: 8px;
}

.group-desc {
  font-size: 12px;
  padding: 0 0 30px;
  font-weight: bold;
}

#msg-accordion h3 {
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.opt-desc {
  font-size: 11px;
  font-style: italic;
  float: right;
  padding-right: 380px;
}
