button.button {
  position: relative;
  outline:none;
  top: 1px;
  span {
    top:-1px !important;
    outline:none;
  }
  &:active {
      -ms-background-position-x: 1px;
      -ms-background-position-y: 1px;
  }
}


.remove-criteria {
  position: relative;
  top:-6px;
}

.headline .inputfields label {
  top: -8px;
}

.inputfields .search button {
  top: 4px;
}
