add_expert.expert.active=true
add_expert.global.active=true
add_expert.study.active=true
country.sort=145|196|468|467|466|465|464|462|460|459|458|457|454|453|452|451|449|447|138|117
email.activation.from=YOUR@E-MAIL-ADDRESS.EXAMPLE
email.contact.to=YOUR@E-MAIL-ADDRESS.EXAMPLE
email.new_password.from=YOUR@E-MAIL-ADDRESS.EXAMPLE
email.new_question.to=YOUR@E-MAIL-ADDRESS.EXAMPLE
email.published.from=YOUR@E-MAIL-ADDRESS.EXAMPLE
email.question_info.from=YOUR@E-MAIL-ADDRESS.EXAMPLE
email.readforpublish.from=YOUR@E-MAIL-ADDRESS.EXAMPLE
email.readforpublish.to=YOUR@E-MAIL-ADDRESS.EXAMPLE
email.remove_account.from=YOUR@E-MAIL-ADDRESS.EXAMPLE
module.about=true
module.about.introtext=true
module.event=true
module.event.introtext=true
module.eventbox=true
module.expert=true
module.expert.introtext=true
module.method=true
module.method.introtext=true
module.news=true
module.news.introtext=true
module.newsbox=true
module.planning=true
module.qa=true
module.qa.introtext=true
module.search.introtext=true
module.study=true
module.study.introtext=true
module.video_textbox.replacement=true
module.videobox=true
module.videobox_newsbox_eventbox.mobile=news_event
project.name=YOUR PROJECT NAME
project.show_article_favorite_count=true
project.show_intro_text=true
sort.event=start_date
sort.expert=lastname
sort.method=title
sort.news=date
sort.qa=title
sort.study=created
